@inherits SearchBoxBase
<form class="d-flex"
      role="search"
      onsubmit="alert('stop submit'); return false;">
    <input class="form-control me-2"
           type="search"
           placeholder="Search"
           aria-label="Search"
           @bind-value="@SearchTerm"
           @bind-value:event="oninput">
    <button class="btn btn-outline-success me-1"
            type="submit"
            @onclick="Search">
        @SearchTerm
    </button>
</form>
