@inherits SearchBoxBase
<form class="d-flex"
      role="search"
      onsubmit="return false;">
    <div class="input-group">
        <input class="form-control"
               type="search"
               placeholder="Search"
               aria-label="Search"
               @bind-value="@SearchTerm"
               @bind-value:event="oninput">
        <button class="btn btn-outline-success me-1"
                type="submit"
                @onclick="Search">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>
